<div id="user-goals">
  <div>
    <%= link_to "#", id: "new_goal_button" do %>
      <i class="fa fa-plus fa-3x pull-right add-goal"></i>
    <% end %>
  </div>
    <%= image_tag current_user.photo, size: "75", class: "img-responsive img-circle pull-left" %>
  
  <div>
    <h1 class="text-center">Goal [Check-In]</h1> 
    <h3 class="text-center">Days Since I've...</h3>
    <div id="new-goal-form">
      <%= bootstrap_form_for Goal.new, remote: true do |f| %>
        <%= f.text_field :title, hide_label: true %>
      <%= f.submit "Add", class: "btn btn-primary center-block" %>
      <% end %>
    </div>
  </div>
  <div id="goals-list">
    <% @goals.each do |goal| %>
    <%= link_to(record_up_one_path(goal.current_record), method: :post, remote: true, class: "clickable-goal") do %>
      <div class="bs-callout bs-callout-danger goal-button">
        <div id = "some-row-<%= goal.id %>" class="row">
          <div class="col-xs-9 goal-title">
            <h4><%= goal.title %></h4>
          </div>
          <div class="col-xs-3">
            <h4 class="text-center"><%= goal.current_record.streak %> days</h4>
            <!-- <h4 class="text-center">days</h4> -->
          </div>
        </div>
      </div>
    <% end %>
    <% end %>
  </div>
</div>