<div class="row">
  <div class="col-xs-4 col-xs-offset-0">
    <%= image_tag current_user.photo, size: "75", class: "img-thumbnail img-circle center-block" %><br>
    <p class="text-center"><%= current_user.name %></p>
  </div>
  <div class="col-xs-3">
    <table id="summary-table" class="table">
      <tr>
        <td class="text-center"><%= @goals.count %></td>
        <td class="text-center">11</td>
        <td class="text-center"><%= @streaks.count %></td>
      </tr>
      <tr>
        <td class="text-center">Goals</td>
        <td class="text-center">Followers</td>
        <td class="text-center">Streaks</td>
      </tr>
    </table>
  </div>
</div>

<div id="user-goals">
  <% @goals.each do |goal| %>
    <div class="list-group">
      <%= link_to(record_up_one_path(goal.current_record), class: "list-group-item", data: { status: goal.status }, method: :post, remote: true) do %>
        <h4 class="list-group-item-heading"><%= goal.title %></h4>
        <i class="goal-checked fa fa-check-circle fa-3x pull-right"></i>
        <p id="record-<%=goal.current_record.id %>" class="list-group-item-text"><%= goal.current_record.streak %> Days</p>
      <% end %>
    </div>
  <% end %>
</div>

